div#result{
    float: left;
    width: 60%;
    margin-right: 10%;
}

div#graph{
    float: left;
    width: 30%;
}

div#report_container {
    padding: 12%;
    width: 70%;
    margin: auto;
    display: table;
    clear: both;
}