body {
    background-color: #264653
}

#container{
    display:table;
    clear:both;
    width:90%;
    margin:auto;
    padding: 10%;
}

#question_video {
    float:left;
    width:40%;
    margin-right: 2%;
}

#resultat{
    float:left;
    width:58%;
}

/* #resultat>iframe{
    width:100%;
} */