@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

h1 {
    font-family: 'Source Code Pro', monospace;
}

table td {
    border: 1px solid black;
}

div.color {
    height: 40px;
    width: 40px;
}