@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:wght@500&display=swap');

/* div#question_picture{
    float: left; 
    width: 50%;
    margin-right: 10%;
} */

body {
    background-color: #264653;
    font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
}

#resultat h3 {
    font-family: 'Montserrat';
    color: #F4A261;
}

p {
    color: white;
}

.modal p {
    color: black;
   }

code, a {
    color: #E76F51;
    text-decoration: none;
}

a:hover {
    color: #E9C46A;
}

li {
    color: white;
}

ul li {
    list-style-type: none;
}

div#resultat{
    display: table;
    /* float: left; */
    /* width: 40%; */
}

div#container {
    padding: 2%;
    width: 90%;
    margin: auto;
    display: table;
    clear: both;
    margin-top: 2%;
}

div#resultat>div{
    width: 32%;
    margin-right: 1%;
    float:left;

}

div#resultat>div>img{
    width: 100%;
    
}

#valider {
    cursor: pointer;
}

button#valider {
    font-size: 1rem;
    padding: 0.5rem;
    width: 12rem;
    text-align: center;
    border: 0.1rem solid #2A9D8F;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #264653;
    background-color: white;
}

button#valider:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

button#valider[disabled]:hover{
    cursor:  not-allowed;
    box-shadow: none;
    transform: none;
}